@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes underlinemove {
  from {
    background-size: 0% 10px;
  }
  to {
    background-size: 100% 10px;
  }
}
.special-button {
  position: static;
}
.special-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d2cd;
  transition: clip-path 200ms ease-in-out;
  clip-path: circle(0%);
}
.special-button:hover::after {
  clip-path: circle(100%);
  position: absolute;
}

.font-inc {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.25rem;
}
.font-jb {
  letter-spacing: 0.25rem;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 540px) {
  .max-first {
    display: none;
  }
}

.underlinemaybe {
  /* background: transparent;
  border-radius: 10px;
  height: 10px;
  width: 55px;
  box-shadow: 0 20px 0 0 #000; */

  display: inline-block;
  text-decoration: none;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 10px;
  animation: underlinemove 1s ease-in-out 1s;
  transition: background-size 0.5s ease;
}

.cool-gradient {
  background-image: linear-gradient(to right, #f0cb28a1, #f0502888);
}
.font-playright {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.unerlineinterest {
  display: inline-block;
  text-decoration: none;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 10px;
  animation: underlinemove 1s ease-in-out 1s;
  transition: background-size 0.5s ease;
}

.backdrop-mini {
  background: rgb(188, 187, 196);
  background: linear-gradient(
    180deg,
    rgba(188, 187, 196, 0.49622166246851385) 0%,
    rgba(5, 5, 6, 1) 100%
  );
}
